<style>
.bottomtext {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: xx-large;
}
</style>

<div class = "bottomtext">
    <p>bottomtext</p>
</div>