<span><%= link_to 'home', home_page_path %></span>
<span><%= link_to 'profile', user_profile_path %></span>
<span><%= title %></span>
<span><%= link_to 'logout', destroy_user_session_path, method: :delete %></span>