@use "sass:math";

@import 'styles/homepage/post';
@import 'styles/shared/navbar';

body {
  margin: 0px;
}


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
) !default;
